/* HeroDetailComponent's private CSS styles */
label {
  /* color: #435960; */
  color: var(--ctp-mocha-teal);
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  /* background-color: #eee; */
  background-color: var(--ctp-mocha-flamingo);
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  /* background-color: #cfd8dc; */
  background-color: var(--ctp-mocha-subtext1);
}
button:disabled {
  /* background-color: #eee; */
  background-color: var(--ctp-mocha-surfaceo);
  /* color: #ccc; */
  color: var(--ctp-mocha-overlay2);
  cursor: auto;
}
