/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  /* background-color: #e8e8e8; */
  background-color: var(--ctp-mocha-overlay2);
  /* color: #3d3d3d; */
  color: var(--ctp-mocha-base);
  border-radius: 4px;
}

nav a:hover {
  /* color: white; */
  color: var(--ctp-mocha-text);
  /* background-color: #42545C; */
  background-color: var(--ctp-mocha-surface0);
}
nav a:active {
  background-color: black;
}
