/* villains_ulComponent's private CSS styles */
.villains_ul {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.villains_ul li {
  position: relative;
  cursor: pointer;
}

.villains_ul li:hover {
  left: .1em;
}

.villains_ul a {
  /* color: #333; */
  color: var(--ctp-mocha-mantle);
  text-decoration: none;
  /* background-color: #EEE; */
  background-color: var(--ctp-mocha-lavender);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.villains_ul a:hover {
  /* color: #2c3a41; */
  color: var(--ctp-mocha-surface1);
  /* background-color: #e6e6e6; */
  background-color: var(--ctp-mocha-subtext1);
}

.villains_ul a:active {
  /* background-color: #525252; */
  background-color: var(--ctp-mocha-overlay0);
  /* color: #fafafa; */
  color: var(--ctp-mocha-text);
}

.villains_ul .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  /* background-color: #405061; */
  background-color: var(--ctp-mocha-surface0);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
