/*.villain_ulComponent's private CSS styles */
.villain_ul {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.villain_ul li {
  display: flex;
}

.villain_ul button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  /* background-color: #EEE; */
  background-color: var(--ctp-mocha-subtext1);
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em;
}

.villain_ul button:hover {
  /* color: #2c3a41; */
  color: var(--ctp-mocha-surface0);
  /* background-color: #e6e6e6; */
  background-color: var(--ctp-mocha-subtext0);
  left: .1em;
}

.villain_ul button:active {
  /* background-color: #525252; */
  background-color: var(--ctp-mocha-overlay1);
  /* color: #fafafa; */
  color: var(--ctp-mocha-text);
}

.villain_ul button.selected {
  /* background-color: black; */
  background-color: var(--ctp-mocha-crust);
  /* color: white; */
  color: var(--ctp-mocha-text);
}

.villain_ul button.selected:hover {
  /* background-color: #505050; */
  background-color: var(--ctp-mocha-overlay0);
  /* color: white; */
  /* color: white; */
  color: var(--ctp-mocha-text);
}

.villain_ul button.selected:active {
  /* background-color: black; */
  background-color: var(--ctp-mocha-blue);
  /* color: white; */
  color: var(--ctp-mocha-text);
}

.villain_ul .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  /* background-color: #405061; */
  background-color: var(--ctp-mocha-surface1);
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.villain_ul .name {
  align-self: center;
}
